# Dependencies
node_modules/

# Environment variables
.env

# Downloaded music / media
music/

# Jellyfin local container configuration data
jellyfin-config/

# OS-specific temporary files
.DS_Store
Thumbs.db